<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.band.member.map.MemberMapper">
	<select id="memberSelect" resultType="co.yedam.band.member.service.MemberVO">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
		<if test="memberPassword != null">member_password = #{memberPassword}</if>
	</select>
	
	<insert id="memberInsert" parameterType="co.yedam.band.member.service.MemberVO">
		INSERT INTO MEMEBER (MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_EMAIL, MEMBER_BIRTH)
		VALUES (#{memberId}, #{memberPassword}, #{memberName}, #{memberEmail}, #{memberBirth})
	</insert>
	
	<update id="memberUpdate" parameterType="co.yedam.band.member.service.MemberVO">
		UPDATE MEMEBER
		<!-- 동적시퀄.. -->
		<set>
			<if test="memberName != null">MEMBER_NAME = #{memberName},</if>
			<if test="memberEmail != null">MEMBER_EMAIL = #{memberEmail},</if>
			<if test="memberBirth != null">MEMBER_BIRTH = #{memberBirth},</if>
		</set>
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<delete id="memberDelete" parameterType="co.yedam.band.member.service.MemberVO">
		DELETE FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</delete>

</mapper>