<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.prjdb.book.map.BookMapper">
	<select id="bookSelectList" resultType="co.yedam.prjdb.book.service.BookVO">
		SELECT * FROM BOOK
		ORDER BY BOOK_ID
	</select>
	
	<select id="bookSelect" resultType="co.yedam.prjdb.book.service.BookVO">
		SELECT *
		FROM BOOK
		WHERE 1=1
		<if test="bookId != 0">AND BOOK_ID = #{bookId}</if>
		<if test="bookName != null">AND BOOK_NAME = #{bookName}</if>
	</select>
	
	<insert id="bookInsert" parameterType="co.yedam.prjdb.book.service.BookVO">
		<selectKey keyProperty="bookId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(book_Id), 0) + 1 AS bookId FROM BOOK
		</selectKey>
		INSERT INTO BOOK
		VALUES (#{bookId}, #{bookName}, #{bookAuthor}, #{bookPublisher}, #{bookPrice}, #{bookCode})
	</insert>
	
	<delete id="bookDelete" parameterType="co.yedam.prjdb.book.service.BookVO">
		DELETE FROM BOOK
		WHERE BOOK_ID = #{bookId}
	</delete>
	<delete id="bookDeletes" parameterType="java.util.HashMap">
		DELETE FROM BOOK
		WHERE BOOK_ID = #{bookId}
		<choose>
            <when test="code_list.size != 0">
                AND BOOK_CODE IN 
                <foreach collection="code_list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </when>
        </choose>
	</delete>
	
	<update id="bookUpdate" parameterType="co.yedam.prjdb.book.service.BookVO">
		UPDATE BOOK
		<set>
			<if test="bookId != null">BOOK_ID = #{bookId},</if>
			<if test="bookName != null">BOOK_NAME = #{bookName},</if>
			<if test="bookAuthor != null">BOOK_AUTHOR = #{bookAuthor},</if>
			<if test="bookPublisher != null">BOOK_PUBLISHER = #{bookPublisher},</if>
			<if test="bookPrice != 0">BOOK_PRICE = #{bookPrice}</if>
		</set>	
	</update>

</mapper>