<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v05_watch.html</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
  <div id="app01">
    x : <input type="number" v-model="x"><br>
    y : <input type="number" v-model="y"><br>
    결과 : {{sum}}
  </div>
  <script>
    new Vue({
      el: '#app01',
      data: {
        x: 0,
        y: 0,
        sum: 0
      },
      computed: {
        // sum(){
        //   return Number(this.x) + Number(this.y);
        // }
      },
      watch: {
        x: function (afterVal, beforeVal) {
          //console.log('x:: ', afterVal, beforeVal);
          this.sum = Number(afterVal) + Number(this.y);
        },
        y: function (afterVal, beforeVal) {
          //console.log('y:: ', afterVal, beforeVal);
          this.sum = Number(afterVal) + Number(this.x);
        }
      }
    })
  </script>
</body>

</html>